.entando-showlet-navigation_menu ul {
	list-style-type: none;
	margin: 0.5em 0;
}

.entando-showlet-navigation_menu li {
	margin: 0.25em 0;
	padding: 0.25em 0;
}

.entando-showlet-navigation_menu li a,
.entando-showlet-navigation_menu li .current {
	display: block;
	padding: 0.25em;
}

.entando-showlet-navigation_menu li a:link,
.entando-showlet-navigation_menu li a:visited {
	border-bottom: none;
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-transition: background 200ms ease-in-out;
	-moz-transition: background 200ms ease-in-out;
	-o-transition: background 200ms ease-in-out;
	transition: background 200ms ease-in-out;
}

.entando-showlet-navigation_menu li a:hover,
.entando-showlet-navigation_menu li a:active,
.entando-showlet-navigation_menu li a:focus {
	border-bottom: none;	
	background-color: rgba(255, 255, 255, 0.4);
}

/****
 * Responsiveness
 ****/
	
@media screen and (min-width: 600px) {
	
	nav .entando-showlet-navigation_menu ul {
		margin: 0 auto;
	}
	
	nav .entando-showlet-navigation_menu li {
		display: inline-block;
	}

	nav .entando-showlet-navigation_menu li a,
	nav .entando-showlet-navigation_menu li .current {
		padding: 0.5em;
		display: inline-block;
	}
	
	nav .entando-showlet-navigation_menu li a:link,
	nav .entando-showlet-navigation_menu li a:visited {
		background-color: rgba(255, 255, 255, 0);
	}
	
	nav .entando-showlet-navigation_menu li a:hover,
	nav .entando-showlet-navigation_menu li a:active,
	nav .entando-showlet-navigation_menu li a:focus {
		background-color: rgba(255, 255, 255, 0.4);
	}	
	
	footer .entando-showlet-navigation_menu ul {
		display: inline-block;
	}

	footer .entando-showlet-navigation_menu li {
		display: inline-block;
	}

	footer .entando-showlet-navigation_menu li a {
		padding: 0.5em;
		display: inline-block;
	}
	
}

@media screen and (min-width: 1024px) {
	
	nav .entando-showlet-navigation_menu ul {
		margin: 0;
	}
	
	footer .entando-showlet-navigation_menu li a:link,
	footer .entando-showlet-navigation_menu li a:visited {
		background-color: rgba(255, 255, 255, 0);
		-webkit-transition: background 200ms ease-in-out;
		-moz-transition: background 200ms ease-in-out;
		-o-transition: background 200ms ease-in-out;
		transition: background 200ms ease-in-out;		
	}
	
	footer .entando-showlet-navigation_menu li a:hover,
	footer .entando-showlet-navigation_menu li a:active,
	footer .entando-showlet-navigation_menu li a:focus {
		background-color: rgba(255, 255, 255, 0.1);
	}	
	
}