.entando-showlet-navigation_menu ul {
	list-style-type: none;
	text-align: left;
	margin: 0.5em 0;
}

.entando-showlet-navigation_menu li {
	margin: 0.25em 0;
	padding: 0.25em 0;
}

.entando-showlet-navigation_menu li a {
	display: block;
	padding: 0.25em;
}

.entando-showlet-navigation_menu li a:link,
.entando-showlet-navigation_menu li a:visited {
	border-bottom: none;
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-transition: background 200ms ease-in-out;
	-moz-transition: background 200ms ease-in-out;
	-o-transition: background 200ms ease-in-out;
	transition: background 200ms ease-in-out;
}

.entando-showlet-navigation_menu li a:hover,
.entando-showlet-navigation_menu li a:active,
.entando-showlet-navigation_menu li a:focus {
	border-bottom: none;	
	background-color: rgba(255, 255, 255, 0.4);
}