html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Droid Serif", serif;
	font-size: 100.01%;
	background-image: url("../../../img/pagemodels/entando-page-h5c3-3boxes/broken_noise.png");
	background-position: 0 0;
	background-repeat: repeat;
	padding: 0.5em 0;
	color: #f1f2f1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans", sans;
}

h1 {
	font-size: 2em;
}

h2, h3 {
	font-size: 1.2em;
}

p, li, h4, h5, h6, td, th, dt, dd {
	font-size: 1em;
}

#h5c3-3boxes-toolbar,
header,
#h5c3-3boxes-main,
footer {
	width: 96%;
	max-width: 770px;	
	margin: 0 auto;	
}

#h5c3-3boxes-toolbar {
	font-family: "Droid Sans Mono", monospace;
}

#h5c3-3boxes-toolbar-1 {
	display: inline-block;
	width: 48%;
}

#h5c3-3boxes-toolbar-2 {
	float: right;
	width: 48%;	
}

header {
	clear: both;	
	margin: 0.5em auto;	
	font-style: italic;
	text-align: center;
	color: rgba(178, 224, 46, 1);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
	filter: dropshadow(color=#ffffff, offx=1, offy=1);	
}

header h1 {
	font-family: 'Lobster Two', cursive;
	font-weight: 700;
	margin: 0.5em 0;
}

#h5c3-3boxes-main figure img {
	max-width: 100%;
}

#h5c3-3boxes-main figure.content-main img {
	max-width: none;
}

#h5c3-3boxes-main figure.content-main {
	overflow: hidden;
}

footer {
	font-size: 0.85em;
	font-style: italic; 
}

.monospace {
	font-family: "Droid Sans Mono", monospace;
}
