html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Droid Serif", serif;
	font-size: 100.01%;
	background-image: url("../../../img/pagemodels/entando-page-h5c3-3boxes/broken_noise.png");
	background-position: 0 0;
	background-repeat: repeat;
	padding: 0.5em 0;
	color: #f1f2f1;
	-webkit-box-shadow: inset 0 0 6em 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: inset 0 0 6em 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 0 6em 0 rgba(255, 255, 255, 0.1);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans", sans;
}

h1 {
	font-size: 2em;
}

h2, h3 {
	font-size: 1.2em;
}

p, li, h4, h5, h6, td, th, dt, dd {
	font-size: 1em;
	line-height: 1.2;
}

a:link,
a:visited {
	color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
	text-decoration: none;
	border-bottom: 0.1em solid rgba(255, 255, 255, 0.9);
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	border-bottom: 0.1em solid transparent;
}

#h5c3-3boxes-toolbar,
header,
nav,
#h5c3-3boxes-main,
footer {
	width: 96%;
	max-width: 770px;	
	margin: 0 auto;	
}

#h5c3-3boxes-toolbar {
	font-family: "Droid Sans Mono", monospace;
}

#h5c3-3boxes-toolbar-1 {
	display: inline-block;
	width: 48%;
}

#h5c3-3boxes-toolbar-2 {
	float: right;
	width: 48%;	
}

header {
	clear: both;	
	margin: 1em auto;	
}

header h1,
header p {
	font-weight: 700;
	font-style: italic;
	text-align: center;
	color: rgba(178, 224, 46, 1);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
	filter: dropshadow(color=#ffffff, offx=1, offy=1);	
}

header h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 3em;
	margin: 0 0 0.5em 0;	
}

nav {
	font-family: "Droid Sans", sans-serif;
	margin: 1em auto;
}

#h5c3-3boxes-main div {
	width: 100%;
	float: left;	
	margin-bottom: 4%;
}

#h5c3-3boxes-main figure {
	width: 100%;
	float: left;
}

#h5c3-3boxes-main div:first-child {
	float: none;
	width: auto;
}

#h5c3-3boxes-main div:nth-child(2n) {
	margin-right: 5%;
	clear: left;
}

#h5c3-3boxes-main figure img {
	max-width: 100%;
}

#h5c3-3boxes-main figure.content-main img {
	max-width: none;
}

#h5c3-3boxes-main figure.content-main {
	overflow: hidden;
	float: none;
}

footer {
	clear: left;
	font-size: 0.85em;
	font-style: italic; 
}

.monospace {
	font-family: "Droid Sans Mono", monospace;
}

/****
 * Responsiveness
 ****/
 
@media screen and (min-width: 481px) {
	
	#h5c3-3boxes-main figure.content-main img {
		max-width: 100%;
	}

	#h5c3-3boxes-main figure.content-main {
		overflow: visible;
	}
	
	#h5c3-3boxes-main div:nth-child(2n) {
		text-align: center;
		background-color: rgba(255, 255, 255, 0.9);
	}
	
	#h5c3-3boxes-main div:nth-child(2n+3) {
		text-align: center;	
		background-color: rgba(255, 255, 255, 0.9);
	}
	
	#h5c3-3boxes-main div:nth-child(2n) figure, 
	#h5c3-3boxes-main div:nth-child(2n+3) figure {
		display: inline-block;
		padding: 1em 0;
	}	
	
}

@media screen and (min-width: 600px) {
	
	body {
		background-image: url("../../../img/pagemodels/entando-page-h5c3-3boxes/black_linen.png");
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;		
	}	

	header {
		margin: 2em auto;
	}
	
	nav {
		margin: 2em auto;	
		background-image: url("../../../img/pagemodels/entando-page-h5c3-3boxes/broken_noise.png");
		background-position: 0 0;
		background-repeat: repeat;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-webkit-box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.4);
		-moz-box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.4);
		box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.4);
	}
	
	footer section {
		border-top: 0.25em solid rgba(0, 0, 0, 0.4);
		padding: 1em 0;
		clear: both;
		width: 100%;
		float: left;
		margin: 0 auto;
	}
	
	footer section > div:nth-child(2n+1) {
		float: left;
		width: 49%;
	}
	
	footer section > div:nth-child(2n) {
		margin-left: 51%;
		position: relative;
	}
	
	footer section > div:nth-child(2n) ul {
		position: absolute;
		right: 0;
	}	
	
}

@media screen and (min-width: 800px) {
	
	#h5c3-3boxes-main div:nth-child(2n) {
		text-align: left;
		width: 47.4025974%;
		float: left;
		margin-right: 5.1948052%;
		background-color: transparent;
	}
	
	#h5c3-3boxes-main div:nth-child(2n+3) {
		text-align: left;
		float: left;
		width: 47.4025974%;
		background-color: transparent;
	}
	
}

@media screen and (min-width: 1024px) {
	
	#h5c3-3boxes-toolbar,
	header,
	nav,
	#h5c3-3boxes-main,
	footer {
		max-width: 1024px;	
	}
	
	#h5c3-3boxes-toolbar {
		font-size: 0.9em;
	}
	
	#h5c3-3boxes-toolbar-2 {
		float: right;
		width: 24%;
	}
	
	header {
		margin-bottom: 0;
	}
	
	nav {
		margin-top: 0;
		padding: 0;		
	}
	
	header h1,
	header p {
		text-align: left;
		display: inline;
	}
	
	header h1 {
		margin: 0 0.5em 0 0;	
	}
	
	nav {
		background-image: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	#h5c3-3boxes-main div:first-child {
		text-align: right;
		position: relative;
		background-color: rgba(255, 255, 255, 0.1);
		padding: 1em;
	}
	
	#h5c3-3boxes-main figure img {
		border: 2px solid rgba(0, 0, 0, 0.2);
	}	
	
	#h5c3-3boxes-main div:first-child figure::before {
		content: '{';
		font-size: 15em;
		line-height: 433px;
		vertical-align: top;
		display: inline-block;
		position: absolute;
		left: 0.1em;
		padding: 0;
		font-weight: 200;
		font-family: "Yanone Kaffeesatz", sans-serif;
	}
	
	#h5c3-3boxes-main div:nth-child(2n) {
		text-align: center;
		background-color: rgba(255, 255, 255, 0.2);
	}
	
	#h5c3-3boxes-main div:nth-child(2n+3) {
		text-align: center;
		background-color: rgba(255, 255, 255, 0.2);
	}	

}