.entando-showlet-search_form {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.8);
	height: 2em;
	vertical-align: middle;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0;
	width: 100%;
}

.entando-showlet-search_form form {
	line-height: 2em;
	vertical-align: middle;	
}

.entando-showlet-search_form input[type="search"] {
	border: none;
	margin: 0 0 2px 3%;
	padding: 0;
	height: 2em;
	width: 80%;
	background: transparent;
	color: rgba(0, 0, 0, 0.4);
	vertical-align: middle;		
	-webkit-appearance: none;
}

.entando-showlet-search_form input[type="search"]::-webkit-search-decoration, 
.entando-showlet-search_form input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

.entando-showlet-search_form input[type="search"]:focus {
	box-shadow: inset 1px 1px 1px #c6e756, inset -1px -1px 1px #c6e756;
	-moz-box-shadow: inset 1px 1px 1px #c6e756, inset -1px -1px 1px #c6e756;
	-webkit-box-shadow: inset 1px 1px 1px #c6e756, inset -1px -1px 1px #c6e756;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(0, 0, 0, 0.9);	
}

.entando-showlet-search_form input[type="image"] {
	margin: 0 0 2px 0;
	border: none;
	max-width: 100%;
	vertical-align: middle;
}