html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Quattrocento Sans", serif;
	font-size: 100.01%;
	background-image: url("../../../img/pagemodels/entando-page-h5c3-whitey/square_bg.png");
	background-position: 0 0;
	background-repeat: repeat;
	padding: 0.5em 0;
	color: #222222;
	-webkit-box-shadow: inset 0 0 6em 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: inset 0 0 6em 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 0 6em 0 rgba(255, 255, 255, 0.1);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 2.6em;
}

h2, h3, h4, h5, h6 {
	font-size: 1.6em;
}

p, li, td, th, dt, dd {
	font-size: 1em;
	line-height: 1.2;
}

a:link,
a:visited {
	color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
	text-decoration: none;
	border-bottom: 0.1em solid rgba(255, 255, 255, 0.9);
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	border-bottom: 0.1em solid transparent;
}

#h5c3-whitey-toolbar,
header,
nav,
#h5c3-whitey-main,
footer {
	width: 96%;
	max-width: 770px;	
	margin: 0 auto;	
}

header {
	clear: both;	
	margin: 1em auto;	
}

header h1,
header p {
	text-align: center;
	color: rgba(178, 224, 46, 1);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
	filter: dropshadow(color=#ffffff, offx=1, offy=1);	
}

header h1 {
	font-size: 4em;
	margin: 0 0 0.5em 0;	
}

nav {
	margin: 1em auto;
}

#h5c3-3boxes-main div {
	width: 100%;
	float: left;	
	margin-bottom: 4%;
}

#h5c3-3boxes-main figure {
	width: 100%;
	float: left;
}

#h5c3-3boxes-main div:first-child {
	float: none;
	width: auto;
}

#h5c3-3boxes-main div:nth-child(2n) {
	margin-right: 5%;
	clear: left;
}

#h5c3-3boxes-main figure img {
	max-width: 100%;
}

#h5c3-3boxes-main figure.content-main img {
	max-width: none;
}

#h5c3-3boxes-main figure.content-main {
	overflow: hidden;
	float: none;
}

footer {
	clear: left;
	font-size: 0.85em;
	font-style: italic; 
}

.monospace {
	font-family: "Droid Sans Mono", monospace;
}

/****
 * Responsiveness
 ****/
 
@media screen and (min-width: 481px) {
	
}

@media screen and (min-width: 600px) {
	
}

@media screen and (min-width: 800px) {
	
}

@media screen and (min-width: 1024px) {	

}